<div class="row">
  <div class="col-lg-12">
    <h1>レビュー新規登録</h1>
    <ul>
      <li><%= @omise.name %></li>
      <li><%= @omise.tel %></li>
      <li><%= @omise.address %></li>
    </ul>
    <hr>
    <%= render 'reviews/form' %>
  </div>
</div>
